    .animate {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
    }
    
    #outerbox {
        width: 90%;
        overflow: hidden;
    }
    /* animation for div  */
    
    .ani {
        animation: move 1s ease;
        width: 80%;
        position: absolute;
    }
    
    @keyframes move {
        0% {
            left: 35%;
        }
        100% {
            left: 4%;
        }
    }
    
    .ani-active {
        animation: move2 1s ease;
    }
    
    @keyframes move2 {
        0% {
            left: 0%;
        }
        100% {
            left: 4%;
        }
    }
    
   