<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="btn-group" style="z-index:99;bottom: -40px;background: transparent;float: right;right:5%;">
        <button id="activeButton" type="button" class="btn btn-primary" style="background:transparent;border-radius: 0px !important;" autofocus>Apple</button>
        <button type="button" class="btn btn-primary" style="background:transparent;border-radius: none;">Samsung</button>
        <button type="button" class="btn btn-primary" style="background:transparent;border-radius: 0px !important;">Sony</button>
    </div>

    <!-- <mat-tab-group style="">
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group> -->
    <div class="carousel-inner">




        <div class="carousel-item active">
            <img src="../assets/testimonial.png" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="../assets/testimonial.png" alt="Chicago">
        </div>
        <div class="carousel-item">
            <img src="../assets/testimonial.png" alt="New York">
        </div>
    </div>





    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>




<!-- <p-toast [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'4000ms'"></p-toast> -->